BACKEND_API_URL=1
LOGIN_CAMARA_URL=
CAMARA_API_URL=
API_FTL_CLOUD=
TENANT_ID=
TENANT_SECRET=
WEBSOCKET_SERVIDIESEL_KEY=
WEBSOCKET_SERVIDIESEL_HOST=
WEBSOCKET_SERVIDIESEL_PORT=
WEBSOCKET_SERVIDIESEL_SCHEME=
WEBSOCKET_SERVIDIESEL_PATH=
WEBSOCKET_SERVIDIESEL_CHANNEL_TYPE=
WEBSOCKET_SERVIDIESEL_CHANNEL=
WEBSOCKET_SERVIDIESEL_EVENT=
WEBSOCKET_SERVIDIESEL_TRANSPORTS=
WEBSOCKET_SERVIDIESEL_AUTH_ENDPOINT=
WEBSOCKET_SERVIDIESEL_AUTH_HEADERS=
WEBSOCKET_SERVIDIESEL_BEARER_TOKEN=
WEBSOCKET_SERVIDIESEL_WITH_CREDENTIALS=
WEBSOCKET_SERVIDIESEL_ACTIVITY_TIMEOUT=
WEBSOCKET_SERVIDIESEL_PONG_TIMEOUT=
WEBSOCKET_SERVIDIESEL_UNAVAILABLE_TIMEOUT=
WEBSOCKET_SERVIDIESEL_MAX_ATTEMPTS=
WEBSOCKET_SERVIDIESEL_BASE_DELAY_MS=
WEBSOCKET_SERVIDIESEL_MAX_DELAY_MS=
WEBSOCKET_SERVIDIESEL_BACKOFF_MULTIPLIER=
WEBSOCKET_SERVIDIESEL_POSITION_INTERVAL_MS=
WEBSOCKET_SERVIDIESEL_ANIMATION_DURATION_MS=
WEBSOCKET_SERVIDIESEL_ANIMATION_FRAME_MS=
WEBSOCKET_TRANSMAL_KEY=
WEBSOCKET_TRANSMAL_HOST=
WEBSOCKET_TRANSMAL_PORT=
WEBSOCKET_TRANSMAL_SCHEME=
WEBSOCKET_TRANSMAL_PATH=
WEBSOCKET_TRANSMAL_CHANNEL_TYPE=
WEBSOCKET_TRANSMAL_CHANNEL=
WEBSOCKET_TRANSMAL_EVENT=
WEBSOCKET_TRANSMAL_TRANSPORTS=
WEBSOCKET_TRANSMAL_AUTH_ENDPOINT=
WEBSOCKET_TRANSMAL_AUTH_HEADERS=
WEBSOCKET_TRANSMAL_BEARER_TOKEN=
WEBSOCKET_TRANSMAL_WITH_CREDENTIALS=
WEBSOCKET_TRANSMAL_ACTIVITY_TIMEOUT=
WEBSOCKET_TRANSMAL_PONG_TIMEOUT=
WEBSOCKET_TRANSMAL_UNAVAILABLE_TIMEOUT=
WEBSOCKET_TRANSMAL_MAX_ATTEMPTS=
WEBSOCKET_TRANSMAL_BASE_DELAY_MS=
WEBSOCKET_TRANSMAL_MAX_DELAY_MS=
WEBSOCKET_TRANSMAL_BACKOFF_MULTIPLIER=
WEBSOCKET_TRANSMAL_POSITION_INTERVAL_MS=
WEBSOCKET_TRANSMAL_ANIMATION_DURATION_MS=
WEBSOCKET_TRANSMAL_ANIMATION_FRAME_MS=
